.post-list-container {
    width: 500px;
    min-height: 100vh;
    margin: 50px auto;

}

.loader-container {
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}