.navbar {
    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.navbar-links-container {
    align-items: center;
    display: flex;
    gap: 30px;
}

.navbar-links-container i {
    color: rgb(61, 61, 61)
}